<div class="container about-container">
  <h1 class="about-heading">あなたも古参になりませんか？</h1>
</div>

<style>
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  .about-heading {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
</style>