<h1>管理ダッシュボード</h1>
<%= link_to 'コメント管理', admin_comments_path, class: 'btn btn-primary' %>
<%= link_to 'ユーザー管理', admin_users_path, class: 'btn btn-primary' %>
<%= link_to '投稿管理', admin_posts_path, class: 'btn btn-primary' %>
